---
export interface Props {
  day: number;
}
const { day } = Astro.props;

const url = `/2023-12-${day.toString().padStart(2, '0')}`;
---

<a
  class="block w-fit my-y-rhythm-3 mx-0 py-y-rhythm-1 px-y-rhythm-2 no-underline rounded text-y-black-base bg-y-white-base border border-solid border-y-white-medium hover:text-y-blue-medium hover:bg-[#f3f4f6] hover:border-y-white-medium dark:text-y-white-base dark:border-y-white-medium dark:bg-y-black-base dark:hover:text-y-purple-medium dark:hover:border-y-white-base dark:hover:bg-[#26323e] visited:text-inherit"
  href={url}
>
  {day}日目の記事
</a>
