---
---

<header>
  <div class="header-logo-link-block">
    <svg
      class="header-logo-image"
      width="48"
      height="48"
      viewBox="0 0 246 242"
      role="img"
      aria-label="yamanoku"
    >
      <style>
        .path {
          fill: rgb(54, 70, 93);
          fill-rule: evenodd;
        }
        @media (prefers-color-scheme: dark) {
          .path {
            fill: var(--y-white-base);
          }
        }
      </style>
      <path
        class="path"
        d="M64,67v54l82,82-46,46v60h56L310,155V96H230l-21,20L160,67H64ZM176,203l-45,46h25L293,113H230l-39,39-31-31H94Z"
        transform="translate(-64 -67)"></path>
    </svg>
    <span>Advent Calendar 2023</span>
  </div>
</header>
<style>
  .header-logo-link-block {
    display: inline-flex;
    gap: var(--y-rhythm-1);
    align-items: center;
    margin: var(--y-rhythm-2) 0;
  }
  .header-logo-image {
    vertical-align: middle;
  }
</style>
